.messagesContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: static;
    position: -webkit-sticky;
    top: 0;
    height: max-content;
    float: left;
    width: 17%;
    text-align: center;
    border: 1px solid white;
}

.messages__edit__btn {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-top: 3px;
}

.news__author {
    text-decoration: overline;
}

.message--page--title {
    color: goldenrod;
    font-size: 45px;
}

.message--card {
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: initial;
    max-width: 10em;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.message--name {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-block-start: 0 !important;
}

.message--info {
    display: flex;
    flex-direction: column;
}

.message--bar {
    padding: 6px;
    font-size: 17px;
    border: none;
    max-width: 200px;
}

.message--add {
    float: center;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 3px;
}

/* .newMessage {
    max-width: 60%;
    margin-left: 30%;

}

.message--bar {
    min-width: 600px;
}

.message--add {
    margin-top: 15px;
    align-content: center;
} */
