.moviesContainer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.788);
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: static;
    position: -webkit-sticky;
    height: max-content;
    width: 95%;
    float: center;
    text-align: center;
    align-self: center;
    margin-right: 20px;
    margin-left: 20px;
}

.userMoviesContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    padding: 1em;
    /* background-color: rgba(0, 0, 0, 0.788); */
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: static;
    position: -webkit-sticky;
    height: max-content;
    width: 76%;
    float: right;
    text-align: center;
    align-self: center;
    margin-right: 20px;
}

.movie__cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.movie--card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 200px;
}

.movie__details {
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-left: 25%;
}

img {
    max-width: 200px;
    align-self: center;
}

.movie__search {
    align-self: center;
    padding: 10px;
    margin-bottom: 20px;
}

.movie__summary {
    text-align: left;
}


.details__btn:hover {
    color: orange;
    cursor: pointer;
    transition-duration: .5s;
  }

  
.favorite__btn {
    background-color: rgba(0, 0, 0, 0); /* Green */
    border: 2px solid transparent;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.favorite__btn:hover {
    border: 2px solid orange;
    transition-duration: 0.4s;
}

.add__movie {
    background-color: rgba(0, 0, 0, 0); /* Green */
    border: 2px solid transparent;
    width: 17%;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-self: center;
}

.add__movie:hover {
    border: 2px solid orange;
    transition-duration: 0.4s;
}

fieldset {
    max-width: 75%;
}



.userMovieSearch {
  padding: 6px;
  font-size: 17px;
  border: none;
  max-width: 230px;
}

.userMoviebtn {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 3px;
}

.um--search {
    margin-bottom: 15px;
}
