.followers {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: static;
    position: -webkit-sticky;
    top: 0;
    height: max-content;
    max-width: 201px;
    float: left;
}


.follower--name {
    color: #eee;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-block-start: 0 !important;
}


.follower--link:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
    transition-duration: .5s;
  }


.follower--link {
    color: white;
    text-decoration: none;
  }