.recsMoviesContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: static;
    position: -webkit-sticky;
    height: max-content;
    width: 65%;
    float: right;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

.movie--card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    
}

.favorite__rec, .delete__rec {
    background-color: rgba(0, 0, 0, 0); /* Green */
    border: 2px solid transparent;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.delete__rec:hover {
    border: 2px solid orange;
    transition-duration: 0.4s;
}

.favorite__rec:hover {
    border: 2px solid orange;
    transition-duration: 0.4s;
}